.dm-container {
  display: flex;
  flex-direction: column;
  // background-color: blue;
}

.bio {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  font-size: large;
    p {
      margin-bottom: 25px;
    }
}

.portfolio {
  display: flex;
}

.photos {
  width: 75vw;
  i {
    position: absolute;
    right: 35px;
    top: 20px;
    color: darkred;
    font-size: 25px;
    background-color: white;
    border-radius: 20px;
  }
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.photo-container {
  display: flex;
  justify-content: center;
  // background-color: orange;
}

.portfolio-photo {
  height: 243px;
  width: 243px;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.reviews {
  width: 25vw;
  display: flex;
  flex-direction: column;

  // background-color: red;

}


.review {
  // background-color: white;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  padding: 20px;
  border-radius: 2px;
}

.reviewer {
  display: flex;
  align-items: center;
    p {
      margin: 10px;
    }
    i {
      justify-self: flex-end;
    }
    .fas{
      color: $flamingo;
    }
}


.more {
  display: none;
}
