.index-body {
  display: flex;
  width: cover;
}

.list-container {
  flex: 1 0 auto;
  padding-top: 20px;

  form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  input#query {
    width: 360px;
  }

  .btn-primary {
    border-radius: 5px;
    text-align: center;
    color: black;
    padding: 5px;
    margin: 0px;
  }
}

select#dressmaker_profile_speciality_name {
  // display: none;
  background: transparent;
  border: gray solid 1px;
  width: 130px;
  height: 36px;
  font-size: 16px;
  margin: 0 10px;
}

.dm-profile {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  width: 300px;
  height: 200px;
  position: relative;

  p {
    margin: 0px;
  }
}

.fav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-heart {
  font-size: 24px;
}

.fav-and-av {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 992px) {
  .dm-profile {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    position: relative;

    p {
      margin: 0px;
    }
  }
}

@media(max-width: 490px) {
  .dm-profile {
    display: flex;
    flex: 0 0 190px;
    align-items: center;
    position: relative;
  }
  .dm-profile p {
    position: absolute;
    left: 0px;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .dm-portfolio-sm {
    flex: 0 0 80px;
  }
}
