.index-body {
  display: flex;
  width: cover;
}

.list-container {
  flex: 1 0 auto;
}
.list-container form {
  display: flex;
  margin-top: 30px;
}
.list-container input#query {
  width: 360px;
}
select#dressmaker_profile_speciality_name {
  // display: none;
  background: transparent;
  border: grey solid 1px;
  width: 130px;
  height: 36px;
  font-size: 16px;
  margin: 0 10px;
}
.list-container .btn-primary {
  border-radius: 5px;
  width: 113px;
  border-color: #fed9ca;
  text-align: center;
  color: black;
}
.dm-profile {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  width: 300px;
  height: 200px;
  position: relative;
}

.dm-profile p {
  margin: 0px;
}

.fav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-heart {
  font-size: 24px;
}

.fav-and-av {
  display: flex;
  flex-direction: column;
  align-items: center;
}
