// Specific CSS for your home-page

.home-container{
  overflow: hidden;
  padding-top: 50px;

}

.home-content p {
  font-size: 16px;
  margin-top: 10px;
  padding: 30px;

}

.home-button .btn-lg{

  margin: 20px;
  font-size: 20px;
}


.review-home {
  margin-bottom: 100px;
  margin-top: 20px;
}

