// Specific CSS for your home-page

.container{
  width: 1200px;
  overflow: hidden;


}


.home-content p {
  font-size: 16px;
  margin-top: 10px;
  padding: 30px;

}

.home-button {
  padding: 20px;

}


.review-home {
  margin-bottom: 100px;
  margin-top: 20px;
}
