// Specific CSS for your home-page

.container{
  width: 1200px;


}
.main-title h1 {
  font-size: 34px;
  margin-bottom: 10px;

}

.titles h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 30px;

}

.home-content p {
  font-size: 16px;
  margin-top: 10px;
  padding: 30px;
}

.home-button {
  padding: 20px;

}

.home-button a {
  color: black !important;
  padding: 30px;

}

.home-card {
  padding: 30px;
  margin-bottom: 100px;
}
