
.main-text {
  background-color: white;
  background-size: cover;
  height: 100vh;
  padding: 0px;
}


.main-text {
  img {
    position: relative;
    height: 50px;
    left: 48px;
    top: 47px;
  }
  h1{
    margin: 180px 48px 0px 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 88px;
    color: #000000;
  }

  h2 {
    margin-left: 48px;
    margin-right: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #C4C4C4;
    }

   .btn-landing {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    margin: 35px 0px 48px 48px;
    background-color: $dark-flamingo;
    color: #FFFFFF;
    }
}

.main-pic {
  padding: 0px;
  height: 100vh;
  background-size: cover;

}

.main-pic {
  img {
    max-height: 100vh;
    width: 100%;
  }
}





