.msg-page {
  display: inline-flex;
  height: calc(100vh - 70px);
}
.msg-profile-container {
  flex: 0 0 auto;
  text-align: center;
  background-color: #edefed;
  padding: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.msg-profile-container table {
  font-size: 12px;
  text-align: left;
  margin: 20px;
}
.msg-profile-container h3 {
  margin: 0;
}
.msg-container {
  flex: 1 0 70%;
  padding: 40px;
  height: calc(100vh - 70px);
  overflow: scroll;
}
.msg-container .msg-btn {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 130px;
  height: auto;
  vertical-align: top;
}
.msg-container h3 {
  text-align: left;
  margin: 0 0 30px 0;
}
.past-msg {
  display: flex;
}
.past-msg-right {
  display: flex;
  justify-content: flex-end;
}
.msg-content p {
  margin: 20px;
  font-size: 12px;
  text-align: right;
}
.msg-box {
  width: 500px;
  height: auto;
  padding: 20px 30px;
  margin: 20px 20px 0 0;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 10px rgba(0, 0, 0, -10);
}
.past-msg .msg-box {
  background-color: white;
}
.past-msg-right .msg-box {
  background-color: #edefed;
}
