<!-- Bootstrap Carousel -->
<div id="carousel-example-generic" class="carousel slide multi-item-carousel" data-ride="carousel">
  <!-- auto slider (data-ride) does not work, need to figure out -->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="col-xs-4">
        <%= cl_image_tag "fe0dpnznep5ibfztq4u2.jpg", class: "d-block w-100 carousel-image" %>
      </div>
    </div>
    <div class="item">
      <div class="col-xs-4">
        <%= cl_image_tag "28753457_377216956087397_8699422108763029504_n.jpg.jpg", class: "d-block w-100 carousel-image" %>
      </div>
    </div>
    <div class="item">
      <div class="col-xs-4">
        <%= cl_image_tag "30087598_220880782015442_7919954873901121536_n.jpg.jpg", class: "d-block w-100 carousel-image" %>
      </div>
    </div>
  </div>
  <!-- Wrapper for slides -->
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
  <!-- Controls -->
</div>
<!-- Bootstrap Carousel -->

