    <div class="content-inside">
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> by the Dressmaker team at Le Wagon Bali
        </div>
      </div>
    </div>
  <!-- <footer class="footer"></footer> -->
