
<div class="landing-container">
  <div class="row ">
    <div class="col-sm-12 col-lg-6 main-text ">

      <%= image_tag "logo.png" %>

      <h1 > Calling all dressmakers from France </h1>

      <h3> Share your portoflio of creation with the world and start receiving brief for your custom made items !</h2>

      <a href="#"class="btn-landing btn btn-primary"> Join waitlist</a>

    </div>
    <div class="col-lg-6 col-sm-12 col-xs- 12 main-pic"
        style="
        background-image: linear-gradient(transparent,rgba(252,173,140,0.4)),
        url(<%= image_path "homepage_banner.jpg" %>);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        ;">
    </div>
  </div>

  <div class="container-benefit">
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Benefit number 1 </h2>
        <h3> No product pages to fill in. You are an artist every piece you make is unique, you should be able to share the spirit of your work, not to be an e-commerce website </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit">
        <img src="https://takeascreenshotguide.com/wp-content/uploads/2017/04/screenshot-iPhone-SE.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Benefit number 2 </h2>
        <h3> Because craftwork sometimes requires personal adjustements and that final touch that makes all the difference, your customer can also find you on a map </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit">
        <img src="https://takeascreenshotguide.com/wp-content/uploads/2017/04/screenshot-iPhone-SE.jpg" alt="">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Benefit number 3 </h2>
        <h3> Your time is important, receive prefilled-in request with the details of the customer expectation to avoid back and forth. Generate your quote online and receive payment on time. </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit">
        <img src="https://takeascreenshotguide.com/wp-content/uploads/2017/04/screenshot-iPhone-SE.jpg" alt="">
      </div>
    </div>
  </div>

</div>


