
<div class="row ">
  <div class="col-sm-12 col-lg-6 main-text ">

    <%= image_tag "logo.png" %>

    <h1 > Calling all dressmakers from France </h1>

    <h2> Share your portoflio of creation with the world and start receiving brief for your custom made items !</h2>

    <a href="#"class="btn-landing btn btn-primary"> Join waitlist</a>

  </div>
  <div class="col-lg-6 col-sm-12 col-xs- 12  main-pic">
      <%= image_tag "landing_banner.jpg" %>
  </div>
</div>



