<div class="main-landing">

  <div class="main-landing-text">

    <div class="logo-landing">
      <%= image_tag "logo.png" %>
    </div>

    <h1 > Calling all dressmakers <br> from Korea </h1>

    <h2> Share your portoflio of creation with the world and <br> start receiving brief for custom made items !</h2>

    <div class="btn-landing btn-primary"> Join the waitlist </div>

  </div>

  <div class="main-landing-pic">

  </div>
</div>


