/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $flamingo;
  border-color: transparent;
}
.alert-warning {
  background: $dark-flamingo;
  border-color: transparent;
}
