.btn-primary {
  padding: 10px;
  border-radius: 5px;
  width: auto;
  border-color:  $flamingo;
  text-align: center;
  color: black;
    a {
      color: #7d7d7d;
    }
}

.btn-primary:hover {
  background-color: #ffb4ac;
}

@media(max-width: 992px) {
  .btn-primary {
    font-size: 15px !important;
  }

}
