.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  flex-shrink: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 26px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.content {
  min-height: calc(100vh - 70px);
  max-width: 100vw;
}
html, body {
  height: 100%;
  margin: 0;
}
// .content-inside {
//   padding: 20px;
//   padding-bottom: 50px;
// }
