// Le Wagon UI Kit

.product {
  padding: 20px;
  border-radius: 5px;
  transition: all 0.15s ease;
  border-right: 2px solid rgba(220,224,244,0.4);
  border-bottom: 2px solid rgba(220,224,244,0.4);
  background-color: white;
  margin: 15px;
}

/* Controls design */
.product-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-controls h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}
.product-controls p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
  font-size: 14px;
}
.product-controls li {
  margin: 0 10px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: lightblue;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: blue !important;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
