
.map-container {
  width: 30vw;
}

#map {

  height: calc(100vh - 70px);
  position: sticky;
  top: 0;
  overflow: hidden;
  flex: 0 1 30vw;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
