
.map-container {
  width: 30vw;
}

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: sticky !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
