.main-title {
 margin-top: 20px;
 margin-bottom: 20px;
 background-size: 300px 100px;
 background-repeat: no-repeat;
 background-position: center;
 background-image: image-url("tache5.png");
}

.main-title h1 {
  font-size: 34px;
  margin-bottom: 10px;

}

.titles h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 30px;

}

.middlepage-title{
  margin-top: 50px;

}
